body {
    font-family: monospace;
    font-size: 20px;
}
.left {
    padding-right: 5px;
}
.right {
    padding-left: 5px;
}
#extras {
    float: right;
    padding: 5px;
    text-align: right
}
#hiddencopy {
    left: -9999px;
    position: absolute;
    top: 0;
}
