body {
    font-family: monospace;
    font-size: 20px;
}
#totpbox {
    display: flex;
    float: left;
    padding: 5px;
    white-space: nowrap;
}
#names {
    float: left;
    margin-right: 10px;
    width: 50%;
}
#numbers {
    float: right;
    margin-left: 10px;
    text-align: right;
    width: 50%;
}
#extras {
    float: right;
    padding: 5px;
    text-align: right
}
#hiddencopy {
    left: -9999px;
    position: absolute;
    top: 0;
}
