img {
    width: 1.25rem;
    height: 1.25rem;
}
.left {
    padding-right: 0.875rem;
}
.right {
    padding-left: 0.875rem;
    text-align: right;
}
#extras {
    float: right;
    text-align: right
}
table {
    width: 100%;
}
#hiddencopy {
    left: -9999px;
    position: absolute;
    top: 0;
}
