.dragging {
    border: 1px dotted !important;
}

.dragover {
    border: 1px dotted !important;
    margin-top: 0;
    background-color: #BDBDBD;
}

.draggable {
    display: flex;
    align-items: center;
}

.draggable:hover {
    background-color: #EEEEEE;
}

.displayAbove {
    border-top: 1px solid;
}

.displayBelow {
    border-bottom: 1px solid;
}
