body {
    font-size: 20px;
}
#form, #sites {
    padding: 5px;
}
input {
    margin-left: 10px;
    margin-right: 10px;
}
table {
    width: 100%;
}
td {
    text-align: center;
}
table input {
    width: 100%;
}
